<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>News-Scraper-App</title>
    <style>
        h1 {
            color: yellow !important;
        }
        .saved {
            color: yellow !important;
        }

        .scrape {
            color: yellow !important;
        }

        .navbar-brand {
            color: yellow !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="nav2">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="saved" href="/saved">Show My Saved Articles</a>
                </li>
                <li>
                    <a class="scrape" href="/scrape">Scrape Recent Articles Here</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" style=" background-color: deepskyblue">
    <div class="container">
        <h1>Miami Herald</h1>
        <p>View the latest news here.</p>
        <p>Articles presented here belong to the Miami Herald.</p>

    </div>
</div>

<div class="container">
    <div class="row">
        {{{ body }}}
    </div>
    <hr>

    <footer>
        <p>June 16, 2018</p>
    </footer>

</div>

</body>
</html>